<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Tact.NLog"/>
  </extensions>
  
  <targets>
    <target name="Udp" xsi:type="Log4JUdp">
      <Layout type="TactLayout" />
    </target>
    <target name="Console" xsi:type="ColoredConsole">
      <Layout type="TactLayout" />
    </target>
  </targets>
  
  <rules>
    <logger name="*" minLevel="Trace" appendTo="Udp"/>
    <logger name="*" minLevel="Debug" appendTo="Console"/>
  </rules>

</nlog>